.container {
    /*height: 100vh;*/
    /*height: 800px;*/
    height: 780px;
    width: 100%;
    overflow: auto;
}

.element {
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid #d9dddd;
    background-color: #f8f8f0;
    color: #000;
    padding: 20px;
    width: 300px;
    height: 60px;
}


.emptyList {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    top:-100%;
    left: -100%;
}
